.cart-menu{
    position: absolute;
    top: 30px;
    left: -350px;
    background-color: rgb(65, 65, 72);
    width: 350px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
}

.cart-menu__arrange{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255, .4);
}

.cart-menu__total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}



.btn-order {
    border-radius: 15px;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(85, 88, 237);
    font-size: 18px;
}
