.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #fff;

}

.wrapper{
    display: flex;
    flex-grow: 1;
}

.header__store-title{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
    transition: ease-out .5s;

}

.header__store-title:hover{
    transition: ease-out .5s;
    color: #c7a4a4;

}

.header__cart-btn-wrapper{
    justify-content: flex-end;
}
