.btn {
    border-radius: 15px;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 0px 5px;
    transition: ease-out .5s;

}

.btn--primary {
    background-color: rgb(85, 88, 237);
}

.btn--secondary {
    background-color: rgb(80, 82, 84);
}

.btn--small {
    font-size: 14px;
}

.btn--medium{
    font-size: 18px;
}

.btn--login{
    background-color: #82ad47;
    font-size: 18px;
    padding: 10px 40px !important;
    margin: 10px;
}

.btn--login:active{
    transform: scale(.9);
}

